/*
 * 01_atoms/_button.css
 */

.a-btn {
  display: inline-block;
  padding: 5px 15px 4px;
  background-color: #999;
  border-radius: 3px;
  color: #fff;
  @include fs16;
  transition: all 0.5s;
  &:hover {
    opacity: 0.7;
  }
  &--signup {
    background-color: #128fdc;
  }
  &--submit {
    background-color: #d9534f;
  }
  &--close {
    background-color: #a9a9a9;
  }
}