/*
 * 01_atoms/_heading.css
 */

.a-h1 {
	&--logo {
		position: absolute;
		top: 12px;
		left: 15px;
		padding: 10px;
		color: #fff;
		@include fs18;
	}
}
.a-h2 {
	position: relative;
	margin-bottom: 320px;
	padding: 5px 10px 5px 12px;
	border-left: 4px solid #4e4949;
	color: #333;
	@include fs18;
	&::after {
		content: '';
		display: inline-block;
		position: absolute;
		bottom: -10px;
		left: -3px;
		width: 100%;
		height: 10px;
		border-bottom: 1px solid #ddd;
	}
}