/*
 * 04_templates/_button.css
 */

.t-content {
  position: relative;
  width: 920px;
  margin: 0 auto 30px;
  padding-top: 90px;
  background-color: #fff;
  &__main {
    float: left;
    width: 640px;
  }
  &__side {
    float: right;
    width: 250px;
  }
}

.t-section {
  margin-bottom: 30px;
}